.clickMe {
  color: white;
  background-color: blue;
  font-weight: 700;
  border: none;
  padding: 10px 20px;
}

.content {
  display: none;
}

.link {
  background-color: grey;
  color: black;
  padding: 20px 30px;
  width: 60px;
  margin: 0px;
}
